{% extends 'partials/base.html' %}
{% block title %}Categories Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add a new category</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Activity</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for category in category %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="{% url 'dashboard-products-category-edit' category.id %}">Edit</a>
                    </td>
                    <td>
                      <a class="btn btn-danger btn-sm ml-2"
                            href="{% url 'dashboard-products-category-delete' category.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}