{% extends 'partials/base.html' %}
{% block title %}Deposit Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3>Deposit's history of {{invoice.Type}} # {{invoice.id}}</h3>
        <hr>
        <a class="btn btn-info btn-block" href="{% url 'dashboard-invoices-edit-product' invoice.id %}">Return</a>
        <br>
        <table class="table table-hover table-sm bg-white search-table" >
            <thead class="bg-info text-white">
                <tr>
                    <th scope ="col">Customer's Funds = </th>
                    <th scope="col">{{invoice.client.Funds}}{{invoice.currency}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>

                    <form class="" action="{% url 'dashboard-invoices-deposit-add' invoice.id %}" method="POST">
                      {% csrf_token %}
                      <tr>
                        {% if invoice.client.Funds > 0 and balance > 0 %}
                           <td>
                             <input class="form-control " name="amount" type="number" step="0.01"  min="0" max="{{balance}}" id="input_value" placeholder="Amount">
                           </td>

                           <td><input class="btn btn-success btn-block" name="depose-from-funds" type="submit" value="Depose"></td>
                           {% endif %}
                       </tr>
                    </form>
            </tbody>
        </table>

        <table class="table table-hover table-sm bg-white search-table" >
            <thead class="bg-info text-white">
                <tr>
                    <th scope ="col">Customer's due = </th>
                    <th scope="col">{{balance}} {{invoice.currency}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                    <form class="" action="{% url 'dashboard-invoices-deposit-add' invoice.id %}" method="POST">
                      {% csrf_token %}
                      <tr>
                        {% if balance > 0 %}
                           <td>
                             <input class="form-control " name="amount" type="number" step="0.01"  min="0" max="{{balance}}" id="input_value" placeholder="Amount">
                           </td>

                           <td><input class="btn btn-success btn-block" name="depose" type="submit" value="Depose"></td>
                           {% endif %}
                           <!--
                           {% if balance <= 0  %}
                           <td></td>
                           {% endif %}
                           <td><input class="btn btn-success btn-block" name="withdraw" type="submit" value="Withdraw"></td>
                           -->
                       </tr>
                    </form>
            </tbody>
        </table>

        <table class="table table-hover table-sm bg-white search-table" >
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col" >{{invoice.Type}}</th>
                    <th scope="col" >Type</th>
                    <th scope="col">Amount</th>
                    <th scope ="col">Date</th>
                    <th scope="col">Activity</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
               {% for deposit in invoice_deposit %}
               {% if deposit.Invoice.id == invoice.id %}
                <tr>
                    <td>{{ deposit.Invoice }}</td>
                    <td>{{ deposit.Type }}</td>
                    <td>{{ deposit.Amount }} {{ deposit.Invoice.currency }}</td>
                    <td>{{ deposit.Date }}</td>

                      <form action = "{% url 'dashboard-invoices-deposit-delete' deposit.id invoice.id %}" method="POST">
                        {% csrf_token %}
                    <td>
                      <input class="btn btn-danger btn-sm ml-2" name="delete" type="submit" value="Delete">
                    </td>
                    <td><input class="btn btn-success btn-sm" name="withdraw" type="submit" value="Withdraw"></td>
                     </form >

                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="btn btn-info btn-block" href="{% url 'dashboard-invoices-edit-product' invoice.id %}">Return</a>
    </div>
</div>
{% endblock %}
